<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CraigsUtilityLibrary-DataTypes" version="3.4.0199" targetFramework="net461" />
  <package id="CraigsUtilityLibrary-IO" version="3.4.0199" targetFramework="net461" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.4.0199" targetFramework="net461" />
  <package id="Jil" version="2.14.5" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net461" />
  <package id="PowerArgs" version="2.7.2.0" targetFramework="net461" />
  <package id="RazorEngine" version="4.4.3-rc1" targetFramework="net461" />
  <package id="Sigil" version="4.6.1" targetFramework="net461" />
</packages>